/* General Reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    line-height: 1.6;
  }
  
  /* Navigation Menu */
  nav ul {
    display: flex;
    justify-content: center;
    background-color: #333;
    list-style-type: none;
    padding: 10px 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Header Section */
  header {
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  
  .header-home {
    background-color: orange; 
  }
  
  .header-about {
    background-color: #007BFF; 
  }
  
  .header-awards {
    background-color: gold; 
  }
  
  .header-books {
    background-color: grey; 
  }
  
  /* Main Content Layout */
  main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  /* Left Section */
  .info-section {
    width: 65%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Right Section */
  .profile-photo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-photo img {
    max-width: 100%;
    border-radius: 10px; /* Adjust for subtle rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  /* Responsive Design */
  @media (max-width: 768px) {
    main {
      flex-direction: column;
      align-items: center;
    }
  
    .info-section, .profile-photo {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  body {
      font-family: Arial, sans-serif;
  }
  
  .credits {
      background-color: black;
      color: white;
      padding: 20px;
      text-align: center;
  }
  
  footer {
      text-align: center; 
      background-color:  #333; 
      color:white;
      padding: 10px; 
      font-family: Arial, sans-serif; 
  }
  footer a:hover {
      text-decoration: underline; 
  }
  
  footer a {
      color: #007BFF; 
     
  }